root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

indent_size = 2
indent_style = space

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false
indent_size = 2
indent_style = space

# Makefile 必须使用 tab
[Makefile]
indent_style = tab
