### Base
.idea

### OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
._*
.fseventsd

### Temporary
*.tgz
*.zip
*.tar
*.log
node_modules/
.wrangler/cache/

### Local files
local.mk
*.local.mk
*.local.json
*.local.md
*.local.http
*.local.yaml
*.local.sql
*.local.test.ts
local.test.ts
*.local.sh
*.local.py
*.local.csv
local.just
*.local.just
*.local.txt
local/

### Secrets
*.private.env.json
*.password.txt
htpasswd
kubeconfig.yaml
*.kubeconfig.yaml
*.priv
*.crt
*.key
.env
.env.*
*.env

### AI
.pi
.agents
.claude
.codex
.cursor
.gemini
.opencode
.mcp.json
CLAUDE.md
AGENTS.md

### Workspace
*.pxm
*ignored*
atlassian-ide-plugin.xml
.history
/etc
/var
/.trash
/.obsidian
/wener

/tmp
/out

/local
local/
.local
*.local.md
local.mk
*.local.ldif
*.local.cfg
*.local.conf
*.local.tf
*.local.js

*.auth.json
*.key
*.cert
*.pem
/*.jpg
mcps.json
*.graphql
*.graphqls
*.drawio
*.puml

/notes/embedded/NES
/tbd
site/dist/
site/lib/
