
*.pxm
*.pem
.DS_Store

# eclipse project file
.project
.buildpath
.settings

# jetbrain IDE
.idea


*ignored*
atlassian-ide-plugin.xml
node_modules
.history
/etc
/var
/.trash
/.obsidian
/wener

/tmp
/out

/local
local/
.local
*.local.md
local.mk
*.local.json
*.local.txt
*.local.http
*.local.ldif
*.local.tf
*.local.js
*.local.conf
*.local.ts
*.local.sql
*.local.sh

/.cursor
.cursorrules
*.auth.json
*.key
*.cert
*.pem
.mcp.json
.claude/
.gemini/
AGENTS.md
/*.jpg
mcps.json
*.graphql
*.graphqls
*.drawio
*.puml

/notes/embedded/NES
/tbd
