strict-peer-dependencies=true
auto-install-peers=true
legacy-peer-deps=false
dedupe-direct-deps=true

# for WSL cross dev only
# node-linker=hoisted

# Mirror
# ==========
# 有时候镜像不匹配
# registry=https://registry.npmmirror.com/
# 速度还行
registry=https://registry.npmjs.org

disturl=https://npmmirror.com/mirrors/node/
better-sqlite3_binary_host=https://npmmirror.com/mirrors/better-sqlite3/
node_sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/sqlite3/
python_mirror=https://npmmirror.com/mirrors/python/
sharp_binary_host=https://npmmirror.com/mirrors/sharp/
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips/
canvas_binary_host=https://npmmirror.com/mirrors/node-canvas-prebuilt/
puppeteer_download_base_url="https://cdn.npmmirror.com/binaries/chrome-for-testing"
